<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href= "@{/css/estilo.css}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My index</title>
</head>
<body class = "cuerpo1">
    <header th:insert="fragments/header.html"> </header>
    <div class ="container espacio">
      </nav>
      <ul th:if="${errmessg != null}">
        <p style="color: red;" th:text = "${errmessg}"></p>
      </ul>
      <form th:action="@{/}" th:object="${busqueda}" method="POST">
        <form class="d-flex">
        <br><br>
            <input th:field="*{nombre}" class="form-control me-2" type="search" placeholder="Nombre prenda" aria-label="Search">
            <input th:field="*{emailUser}" class="form-control me-2" type="search" placeholder="Nombre usuario" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
       </form>
  
    
    
      <div class="row row-cols-1 row-cols-md-3 g-4 pt-5">
          <div th:each="lista : ${miLista}"  class="col">
            <div class="card h-100">
              <img th:src="${lista.foto}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 th:text="${lista.nombre}" class="card-title"></h5>
                <p th:text="${lista.descripcion}" class="card-text"></p>
                <p th:text="${lista.emailUser}" class="card-text"></p>
              </div>
            </div>
          </div>
      </div>
  
    <footer th:insert="fragments/footer.html"> </footer>
</body>
</html>