<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href= "@{/css/estilo.css}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My index</title>
</head>
<body class = "cuerpo1">
    <header th:insert="fragments/header.html"> </header>
    <div class ="container espacio"></div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <form th:action="@{/signup}" th:object="${usuario}" method="POST">
        <!--<div class="mb-3">jujudff
            <label for="exampleInputNombre1" class="form-label">Nombre</label>
            <input type="nombre" name="nombre" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputApellido1" class="form-label">Apellidos</label>
            <input type="apellidos" name="apellidos" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>-->
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">E-mail</label>
            <input th:field="*{email}" type="email" class="form-control" aria-describedby="emailHelp" >
          </div>
          <ul th:if="${errmessg != null}">
            <p style="color: red;" th:text = "${errmessg}"></p>
          </ul>
        </ul>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input th:field="*{contrasenia}" type="password"  class="form-control" >
            <div id="passwordHelpBlock" class="form-text">
              Su contraseña debe tener más de 8 caracteres.
            </div> 
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword2" class="form-label">Repetir Contraseña</label>
            <input th:field="*{contraseniaRepetida}" type="password" class="form-control" >
          </div>
          <br>
          <br>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit">Sign-Up</button>
          </div>
          <br>
    
        </form>
      </div>
      <div class="col-md-4"></div>
    </div>
    <footer th:insert="fragments/footer.html"> </footer>
</body>
</html>
